@charset "UTF-8";
:root {
    --bs-primary: #54b686;
    --bs-primary-rgb: 84, 182, 134;
    --bs-secondary: #232222;
    --bs-secondary-rgb: 35, 34, 34;
    --bs-light: #fff;
    --bs-light-rgb: 255, 255, 255;
}

h2 {
    font-size: 100%;
    font-weight: normal;
}

.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper > .stack {
    display: inline-block;
    border-width: 0;
    margin: 4px;
}

.scrolling-wrapper > .stack > .one-of-stack {
    height: 200px;
    margin: 20px;
}

.scrolling-wrapper > .stack > .one-of-stack > img {
    height: 200px;
    margin: 10px;
}

.scrolling-wrapper > .card {
    display: inline-block;
    margin: 4px;
}

.exhibit-title {
    font-weight: normal;
    color: #54b686;
    margin-right: 1rem;
}

.exhibit-descr {
    width: 300px;
    white-space: pre-wrap;
}