@charset "UTF-8";
:root {
    --bs-primary: #54b686;
    --bs-primary-rgb: 84, 182, 134;
    --bs-secondary: #232222;
    --bs-secondary-rgb: 35, 34, 34;
    --bs-light: #fff;
    --bs-light-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Averta CY",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@font-face {
    font-family: 'Averta CY';
    src: url("fonts/AvertaCY-Regular.eot");
    src: url('fonts/AvertaCY-Regular.woff2') format('woff2'),
    url('fonts/AvertaCY-Regular.woff') format('woff'),
    url('fonts/AvertaCY-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta CY';
    src: url("fonts/AvertaCY-Bold.eot");
    src: url('fonts/AvertaCY-Bold.woff2') format('woff2'),
    url('fonts/AvertaCY-Bold.woff') format('woff'),
    url('fonts/AvertaCY-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-size: 100%;
    font-weight: normal;
}

.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper > .stack {
    display: inline-block;
    border-width: 0;
    margin: .25rem;
}

.scrolling-wrapper > .stack > .one-of-stack {
    height: 11rem;
}

.scrolling-wrapper > .stack > .one-of-stack > img {
    height: 10rem;
    margin: .75rem;
}

.scrolling-wrapper > img {
    height: 13rem;
    margin: .75rem;
}

.scrolling-wrapper > .card {
    display: inline-block;
    margin: .25rem;
}

.exhibit-title {
    font-weight: normal;
    color: #54b686;
    margin-right: 1rem;
}

.exhibit-descr {
    width: 22rem;
    white-space: pre-wrap;
}

.small-grid {
    alignment: center;
}

.small-grid-triple > img {
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    margin: .1vw .25vw;
    flex-wrap: nowrap;
}

@media screen and (max-width: 950px) {
    .small-grid-triple > img {
        height: 20vw;
        width: 30vw;
        object-fit: cover;
        margin: .2vw .4vw;
        flex-wrap: nowrap;
    }
}

.scrolling-wrapper > .card {
    margin: .5rem 1rem;
    border-width: 3px;
    border-radius: 20px;
    border-color: #939292;
}

.scrolling-wrapper > .card > p {
    margin: .7rem 1rem;
}