@charset "UTF-8";
:root {
    --bs-primary: #54b686;
    --bs-primary-rgb: 84, 182, 134;
    --bs-secondary: #232222;
    --bs-secondary-rgb: 35, 34, 34;
    --bs-light: #fff;
    --bs-light-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Averta CY",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@font-face {
    font-family: 'Averta CY';
    src: url("fonts/AvertaCY-Regular.eot");
    src: url('fonts/AvertaCY-Regular.woff2') format('woff2'),
    url('fonts/AvertaCY-Regular.woff') format('woff'),
    url('fonts/AvertaCY-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta CY';
    src: url("fonts/AvertaCY-Bold.eot");
    src: url('fonts/AvertaCY-Bold.woff2') format('woff2'),
    url('fonts/AvertaCY-Bold.woff') format('woff'),
    url('fonts/AvertaCY-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.navbar-expand-md .navbar-collapse {
    justify-content: space-between;
}

.navbar {
    padding: 0.2rem;
}

.mmd-navbar > .container-fluid {
    justify-content: center;
    padding-left: 3rem;
    padding-right: 10rem;
}

@media screen and (max-width: 1400px) {
    .mmd-navbar > .container-fluid {
        padding-left: 1rem;
        padding-right: 2rem;
    }
}

h2 {
    font-size: 100%;
    font-weight: normal;
}

.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    background-color: #fff;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #939292;
    opacity: .5;
}

.scrolling-wrapper > .stack {
    display: inline-block;
    border-width: 0;
    margin: .4rem;
}

.scrolling-wrapper > .stack > .one-of-stack {
    height: 11rem;
}

.scrolling-wrapper > img {
    height: 13rem;
    margin: .75rem;
}

.exhibit-title {
    font-weight: normal;
    color: #54b686;
    margin-right: 1rem;
}

.exhibit-descr {
    width: 22rem;
    white-space: pre-wrap;
}

.mmd-exhibition > .one-of-stack > img {
    height: 10rem;
    width: 15rem;
    object-fit: cover;
    margin: .6rem;
}

.small-grid {
    alignment: center;
}

.small-grid-triple > img {
    height: 10vw;
    width: 15vw;
    object-fit: cover;
    margin: .1vw .25vw;
    flex-wrap: nowrap;
}

@media screen and (max-width: 950px) {
    .small-grid-triple > img {
        height: 20vw;
        width: 30vw;
        object-fit: cover;
        margin: .2vw .4vw;
        flex-wrap: nowrap;
    }
}

.scrolling-wrapper > .card {
    display: inline-block;
    margin: .6rem 1rem;
    border-width: 3px;
    border-radius: 20px;
    border-color: #939292;
}

.scrolling-wrapper > .card > p {
    margin: .7rem 1rem;
}

.carousel-item > img {
    height: 28rem;
    width: 42rem;
    object-fit: cover;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 4rem;
    width: 4rem;
}

.carousel-control-next, .carousel-control-prev {
    width: 30%;
}

@media screen and (max-width: 1200px) {
    .carousel-item > img {
        height: 42vw;
        width: 63vw;
        object-fit: cover;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        height: 90%;
        width: 90%;
        max-height: 64px;
        max-width: 64px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 10%;
    }
}